div.iframe_content{
    position: absolute;
    top:      0px;
    left:     0px;
    right:    0px;
    bottom:   53px;
}

iframe.content{
    height:   100%;
    width:    100%;
    border:   0px;
}

div.footbar_navigation {
    background-color: #3E3E3E;
    position:         absolute;
    bottom:           0px;
    left:             0px;
    right:            0px;
    height:           53px;
    padding-left:     40px;
    padding-right:    40px;
}

span.footbar_text { 
    color:       white;
    font-family: arial;
    font-size:   22px;
    line-height: 53px;
}

div.modal_title {
    font-weight: bold;
    font-size:   50px;
    color:       #d22f2f;
    font-family: arial;
}

div.modal_content {
    font-family:  arial;
    font-size:    40px;
    color:        gray;
    margin-top:   20px;
}

div.modal_continue_button {
    position:              absolute;
    bottom:                10px;
    right:                 10px;
    width:                 62px;
    height:                62px;
    background:            #d22f2f;
    -moz-border-radius:    50px;
    -webkit-border-radius: 50px;
    border-radius:         31px;
    cursor:                pointer;
}

div.modal_continue_triangle {
    width:         0px;
    height:        0px;
    border-top:    18px solid transparent;
    border-left:   34px solid #FFFFFF;
    border-bottom: 18px solid transparent;
    position:      relative;
    left:          20px;
    top:           13px;
}

span.button {
    width:          95px;
    display:        inline-block;
    color:          #FFFFFF;
    font-size:      17px;
    font-family:    arial;
    cursor:         pointer;
    border-radius:  5px;
    box-shadow:     0 0 0 1px #90908f;
    padding-top:    2px;
    padding-bottom: 4px;
    padding-left:   10px;
    padding-right:  10px;
    text-align:     center;
    margin-top:     12px;
    margin-bottom:  1px;
    margin-left:    6px;
    margin-right:   2px;
    background:     linear-gradient(#d22f2f, #d61e1e);
}

span.button.right {
    float: right;
}

div.coloured_container { 
    position:   absolute;
    top:        0px;
    bottom:     0px;
    left:       0px;
    right:      0px;
    background: radial-gradient( #FFFFFF, #c7c7c7, #656565 );
    padding:    20px;
    text-align: center;
}

div.image_container { 
    height:        140px;
    width:         360px;
    display:       inline-block;
    cursor:        pointer;
    overflow:      hidden;
    border-radius: 10px;
}

img.image {
    height: 100%;
    width:  100%;
}

div.modal_title {
    font-weight: bold;
    font-size:   50px;
    color:       #d22f2f;
    font-family: arial;
}

div.modal_sub_title {
    font-size:   40px;
    color:       #d22f2f;
    font-family: arial;
    font-style:  italic;
}

span.modal_content_title {
    padding-right: 10px;
    color:         #d22f2f;
}

div.modal_content {
    font-family:  arial;
    font-size:    40px;
    color:        gray;
    margin-top:   20px;
}

div.modal_content.first {
    margin-top: 0px;
}

div.modal_image_container {
    height:      45%;
    float:       right;
    margin-left: 20px;
    position:    relative;
    top:         -45px;
    cursor:      pointer;
}

img.modal_image {
    height: 100%;    
}

div.modal_type_image_container {
    width:    125px;
    overflow: hidden;
    height:   65px;
}

div.modal_type_image_container:hover::before {
    content:          attr( data-label );
    position:         absolute;
    font-family:      arial;
    background-color: purple;
    width:            340px;
    text-align:       center;
    height:           40px;
    border-radius:    10px;
    font-size:        25px;
    top:              83px;
    line-height:      40px;
    color:            #FFFFFF;
}

div.modal_full_screen_image_container { 
    position:         absolute;
    background-color: white;
    overflow:         auto;
    z-index:          4;
    top:              0px;
    bottom:           0px;
    left:             0px;
    right:            0px;
    cursor:           pointer;
    text-align:       center;
}

img.modal_full_screen_image{
    height: 100%;
}

img.habitat_choice {
    cursor: pointer;
}

div.answer_image { 
    display:       inline-block;
    cursor:        pointer;
    overflow:      hidden;
    border-radius: 10px;
    height:        206px;
}

div.food_chain_image_container {
    margin-top:       20px;
    border:           1px solid #d22f2f;
    height:           206px;
    display:          inline-block;
    width:            293px;
    background-color: #FFFFFF;
}

/* We want to be able to disable a food chain image container easily */
div.food_chain_image_container.disabled {
    background-color: #656565;
}

div.food_chain_arrow {
    display:       inline-block;
    margin-left:   4px;
    margin-right:  4px;
    width:         0px;
    height:        0px;
    border-top:    18px solid transparent;
    border-left:   34px solid #d22f2f;
    border-bottom: 18px solid transparent;
    position:      relative;
    top:           -85px;
}

div.answer_choice_container {
    margin-top: 20px;
}